<html>
<head>
<link rel="stylesheet" href="/css/style.css?q=<%=(rand*10000).to_i%>">
<link rel="stylesheet" href="/css/anim.css?q=<%=(rand*10000).to_i%>">
</head>
<body style="font-family:sans-serif;">
<% offset = 0 # where to move each book on the shelf %>
<div class="container" style="perspective: 800px; width: 100%; height: 300px; margin: 200px;">
<% max_height = 0
   @books.each do |b|
     book_height = 200 / b.aspect_ratio
     max_height = book_height if book_height > max_height
   end
 %>
<% @books.each_with_index do |book, book_index| %>
  <% pages = book.page_count * 50 / 400 # every 400 pages is 50px of book thickness
     book_height = 200 / book.aspect_ratio
     title_font_size = [0.9*pages, 12].min
#     title_font_size = [0.5*pages, 12].min unless book.series.nil?
#     series_font_size = [0.8*pages, 12].min
   %>
  <div class="book-container" style="transform: translateX(<%= offset+pages/2 %>px) translateY(<%=max_height-book_height%>px);">
  <% offset += pages + 2 %>
    <div id="<%=book.id%>" class="book" style="transform: rotateY(90deg);" onclick="toggleBook(this.id)">
      <img class="cover" src="<%="/download#{book.cover}"%>" style="width: 200px; height: <%=book_height %>px; transform: translateZ(<%=pages/2%>px)"> </img> 
      <div class="spine" style="width: <%=pages%>px; height: <%=book_height%>px; background: <%=book.cover_color%>; line-height: <%=pages%>px; transform: translateX(-<%=pages/2%>px) translateY(-<%=book_height%>px) rotateY(-90deg);">
        <span class="title" style="color: <%=book.cover_contrast%>; font-size: <%=title_font_size%>px; line-height: <%=pages%>px;"><%= book.title %></span>&emsp;
        <span class="author" style="color: <%=book.cover_contrast%>; font-size: <%=title_font_size%>px; line-height: <%=pages%>px;"><%= book.author %></span>
      </div>
      <div class="back" style="color: <%=book.cover_contrast%>; width: 200px; height: <%=book_height%>px; background:<%=book.cover_color%>; transform: translateY(-<%=book_height*2%>px) translateZ(-<%=pages/2%>px) rotateY(180deg)">
        <%= book.description %>
      </div>
      <div class="pages" style="width: <%=pages-1%>px; height: <%=book_height-6%>px; background: #f1f1f1; transform: translateY(-<%=book_height*3 - 3%>px) translateX(<%=200-pages/2-3%>px) rotateY(90deg)"> </div>
    </div>
  </div>
<% end %>

</div>
<script>
  function toggleBook(bookId) {
    var book = document.getElementById(bookId);
    if (book.className == "book") {
      book.className = "book book-show";
    } else if (book.className == "book book-putaway") {
      book.className = "book book-show";
    } else if (book.className == "book book-show") {
      book.className = "book book-showback";
    } else if (book.className == "book book-showback") {
      book.className = "book book-putaway";
    } else {
      book.className = "book";
    }
  }
</script>
</body>
</html>
